/*
 * Copyright (c) 2025 tinyVision.ai Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <riscv/tinyvision/add_csi1.dtsi>
#include <riscv/tinyvision/add_stacker.dtsi>

&csi1_ep_out2 {
	remote-endpoint-label = "stacker_ep_in1";
};

&stacker_ep_in1 {
	remote-endpoint-label = "csi1_ep_out2";
};
