/*
 * Copyright (c) 2025 tinyVision.ai Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <riscv/tinyvision/add_csi0.dtsi>
#include <riscv/tinyvision/add_stacker.dtsi>

&csi0_ep_out2 {
	remote-endpoint-label = "stacker_ep_in0";
};

&stacker_ep_in0 {
	remote-endpoint-label = "csi0_ep_out2";
};
