/*
 * Copyright (c) 2024 tinyVision.ai Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	soc {
		uvcmanager1: uvcmanager@b4000400 {
			compatible = "tinyvision,uvcmanager";
			reg = <0xb4000400 0x400
			       0xb1300000 0x10000>;
			reg-names = "base",
				    "fifo";
			usb-endpoint = <0x82>;
			status = "disabled";

			port {
				#address-cells = <1>;
				#size-cells = <0>;

				uvcmanager1_ep_in: endpoint@0 {
					remote-endpoint-label = "empty";
					reg = <0>;
				};

				uvcmanager1_ep_out: endpoint@1 {
					reg = <1>;
					remote-endpoint-label = "uvc_ep_in1";
				};
			};
		};
	};
};

&zephyr_udc0 {
	num-out-endpoints = <1>;
	num-in-endpoints = <3>;
	maximum-speed = "super-speed";

	uvc: uvc {
		compatible = "zephyr,uvc-device";
		status = "disabled";

		port {
			#address-cells = <1>;
			#size-cells = <0>;

			uvc_ep_in1: endpoint@1 {
				reg = <1>;
				remote-endpoint-label = "uvcmanager1_ep_out";
			};
		};
	};
};
