/*
 * Copyright (c) 2024 tinyVision.ai Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	soc {
		debayer0: debayer@b1200000 {
			compatible = "tinyvision,debayer";
			reg = <0xb1200000 0x100000>;
			status = "disabled";

			port {
				#address-cells = <1>;
				#size-cells = <0>;

				debayer0_ep_in: endpoint@0 {
					reg = <0x0>;
				};

				debayer0_ep_out: endpoint@1 {
					reg = <0x1>;
					remote-endpoint-label = "uvcmanager0_ep_in";
				};
			};
		};
	};
};

&uvcmanager0_ep_in {
	remote-endpoint-label = "debayer0_ep_out";
};
