# Copyright (c) 2024 tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

config BOARD_TINYCLUNX33
	select SOC_TINYCLUNX33_CUSTOM if BOARD_TINYCLUNX33_CUSTOM
	select SOC_TINYCLUNX33_RTL008 if BOARD_TINYCLUNX33_RTL008
	select SOC_TINYCLUNX33_RTL009 if BOARD_TINYCLUNX33_RTL009
	select SOC_TINYCLUNX33_RTL010 if BOARD_TINYCLUNX33_RTL010
	select SOC_TINYCLUNX33_RTL011 if BOARD_TINYCLUNX33_RTL011
