# Copyright (c) 2024 tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

if VIDEO

rsource "Kconfig.imx219"
rsource "Kconfig.imx296"
rsource "Kconfig.debayer"
rsource "Kconfig.shell"
rsource "Kconfig.testpattern"
rsource "Kconfig.uvcmanager"

endif
