# Copyright (c) 2024 tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

if VIDEO

config VIDEO_I2C_RETRY_NUM
	int "Number of attempts for retrying I2C communication if it failed"
	default 3
	help
	  The default is there to reduce the chance of failure (i.e. occasional EMI) without
	  flooding the I2C bus upon error with too many retries. There is a 1ms wait time between
	  every retry.

rsource "Kconfig.debayer"
rsource "Kconfig.dphy_rx"
rsource "Kconfig.imx219"
rsource "Kconfig.imx296"
rsource "Kconfig.imx477"
rsource "Kconfig.shell"
rsource "Kconfig.testpattern"
rsource "Kconfig.uvcmanager"

endif
