# Copyright (c) 2024 tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

config SHIELD_TINYCLUNX33_DEVKIT_REV1
	def_bool $(shields_list_contains,tinyclunx33_devkit_rev1)

config SHIELD_TINYCLUNX33_DEVKIT_REV2
	def_bool $(shields_list_contains,tinyclunx33_devkit_rev2)
