/*
 * Copyright (c) 2025 tinyVision.ai Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* USB interfaces */

&zephyr_udc0 {
	num-in-endpoints = <2>;
	num-out-endpoints = <1>;
	status = "okay";

	uvc0: uvc0 {
		compatible = "zephyr,uvc-device";
		interface-name = "tinyCLUNX33-IMX477";
	};
};

&uvcmanager0 {
	usb-endpoint = <0x81>;
	status = "okay";
};

/* I2C multiplexer */

&i2c0 {
	status = "okay";

	pca9542a@71 {
		compatible = "nxp,pca9542a";
		reg = <0x71>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c0ch0: ch@0 {
			compatible = "nxp,pca9542a-channel";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};

/* Camera 0 config */

&debayer0 {
	status = "okay";
};

&csi0 {
	status = "okay";
};

&csi0_ep_in {
	remote-endpoint-label = "imx477_ep_out";
};

&i2c0ch0 {
	imx477@1a {
		compatible = "sony,imx477";
		reg = <0x1a>;

		port {
			imx477_ep_out: endpoint {
				remote-endpoint-label = "csi0_ep_in";
			};
		};
	};
};
